body{
    font-family: Arial;
    text-align:center;
}

.hidden{
    display:none;
}

#grid{
    margin:20px auto;
    display:grid;
    grid-template-columns: repeat(20,30px);
    width:600px;
}

.tile{
    width:30px;
    height:30px;
    border:1px solid #ccc;
}

.grass{
    background:green;
}

.road{
    background:gray;
}

.water{
    background:blue;
}

button{
    padding:10px;
    margin:5px;
}